In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel(r"C:\Users\Admin\data_science\mock_data.xlsx")
data

              CONTRIBUTORS       CODES
0                   123456  2N, 2D, 2B
1           123456, 987654          2B
2           987654, 123456      2B, 2N
3                   987654      2N, 2B
4   456123, 123456, 987654      2C, 2B
5           2A1234, 123456  2B, 2C, 2N
6           2A1234, 987654  2N, 2B, 2C
7           987654, 2A1234          2N
8                   2A1234          2D
9   456123, 123456, 2A1234          2C
10  2A1234, 456123, 123456      2C, 2D

In [3]:
data['CODES']

0     2N, 2D, 2B
1             2B
2         2B, 2N
3         2N, 2B
4         2C, 2B
5     2B, 2C, 2N
6     2N, 2B, 2C
7             2N
8             2D
9             2C
10        2C, 2D
Name: CODES, dtype: object

In [4]:
str(type(data['CODES'][0]))

"<class 'str'>"

In [9]:
str(type(data['CODES'][9]))

"<class 'str'>"

In [6]:
len(data['CODES'])

11

In [11]:
lst=[]
for i in range(0,len(data['CODES'])):
            for i in data['CODES'][i].split(", "):
             lst.append(i)

In [12]:
lst

['2N',
 '2D',
 '2B',
 '2B',
 '2B',
 '2N',
 '2N',
 '2B',
 '2C',
 '2B',
 '2B',
 '2C',
 '2N',
 '2N',
 '2B',
 '2C',
 '2N',
 '2D',
 '2C',
 '2C',
 '2D']

In [13]:
unq_set= set(lst)
unq_set

{'2B', '2C', '2D', '2N'}

In [14]:
code_cnt =[]
code_lst =[]

for i in unq_set:
    code_cnt.append(lst.count(i))
    code_lst.append(i)

In [15]:
code_cnt

[6, 5, 7, 3]

In [16]:
code_lst

['2N', '2C', '2B', '2D']

In [17]:
pcnt=[]
for i in code_cnt:
    pcnt.append(str(round(i/sum(code_cnt),2)*100).split(".")[0] + "%")

In [18]:
pcnt

['28%', '24%', '33%', '14%']

In [19]:
code_metrics=set(zip(code_lst,code_cnt,pcnt))

In [20]:
code_metrics

{('2B', 7, '33%'), ('2C', 5, '24%'), ('2D', 3, '14%'), ('2N', 6, '28%')}

In [21]:
code_df = pd.DataFrame(code_metrics, columns = ['CODE', 'COUNT', 'PERCENTAGE'])

In [22]:
code_df

  CODE  COUNT PERCENTAGE
0   2N      6        28%
1   2C      5        24%
2   2D      3        14%
3   2B      7        33%